<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="frontpage.css">
    
    <script type="text/javascript" src="/HTML/swift/script.js"></script>
</head>
<body>
    <div id="main">
        <div class="page1">
            <h1>SWIFT SERVE   <i class="ri-restaurant-2-fill"></i> </h1>
            <p>FOOD HAPPINESS START WITH HERE......!</p>
            <div class="apple">
                <p> <i class="ri-apple-fill"></i><a href="/apple.html"> Continue with Apple</a> </p>
            </div>
             <div class="google">
                <p>  <i class="ri-google-fill"></i> <a href="/google.html">Continue with Google</a></p>
             </div>
             <div class="phone">
                <p>  <i class="ri-phone-fill"></i> <a href="/phone.html"> Continue with Phone </a></p>
             </div>
             <div class="other">
                <p>  <i class="ri-facebook-circle-fill"></i> <a href="/facebook.html"> Continue with Facebook </a></p>
             </div>
        </div>

    </body>
    </html>