<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/swift.css">
    
    <script type="text/javascript" src="/static/js/script.js"></script>
</head>
<body>
    <div id="main">
        <!-- <div class="page1">
            <h1>SWIFT SERVE   <i class="ri-restaurant-2-fill"></i> </h1>
            <p>FOOD HAPPINESS START WITH HERE......!</p>
            <div class="apple">
                <p> <i class="ri-apple-fill"></i><a href="/HTML/login.html"> Continue with Apple</a> </p>
            </div>
             <div class="google">
                <p>  <i class="ri-google-fill"></i> <a href="/HTML/login.html">Continue with Google</a></p>
             </div>
             <div class="phone">
                <p>  <i class="ri-phone-fill"></i> <a href="/HTML/login.html"> Continue with Phone </a></p>
             </div>
             <div class="other">
                <p> <a href="/HTML/login.html">Other </a></p>
             </div>
        </div> -->
    <!-- <div class="page2">
            <div class="wrapper">
                <form action="">
                    <h1>Login</h1>
                    <div class="input-box">
                        <input type = "text" placeholder="username" required >
                            <i class="ri-user-3-fill"></i>
                   
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="**********" required>
                            <i class="ri-lock-fill"></i>
                    </div>
                    <div class="remember-forgot">
                            <input type="checkbox" ><br>
                            <p>Remember me<br>
                            <a href="#">Forgot Password</a> </p>
                    </div>
                    <button type="submit" class="btn">Login</button>
                    <div class="register-link">
                        <p>Don't have an account ? <a href="#">Signup</a></p>
                    </div>
                </form>
            </div>
    </div> -->
    <div class="page3">
            <header class="header">
                <a href="" class="logo"><i class="ri-restaurant-2-fill"></i> SWIFT SERVE</a>
    
                <form action="" class="search-form">
                    <input type="search" id="searchBox" placeholder="Search Here -------!">
                    <label for="searchBox" class="ri-search-2-line"></label>
                   
                </form>
                <div class="icons">
                    <div id="search-btn" class="ri-search-2-line"></div> 
                </div>
                   
                <div class="icons">
                    <div id="share-btn" class="ri-share-fill"></div>
                </div>
                   
                <div class="icons">
                    <div id="user-btn" class="ri-user-3-fill"></div>
                </div>
                   
                <div class="icons">
                    <div id="menu-btn" class="ri-menu-fill"></div>
                    
                </div>
                <nav class="navbar">
                    <a href="">Home</a>
                    <a href="">Packages</a>
                    <a href="">Services</a>
                    <a href="">pricing</a>
                    <a href="">Review</a>
                    <a href="">Contact</a>
                    <a href="">Blogs</a>
                </nav>
            </header>
        <section class="home" id="home">
            <div class="image">
                <img src="https://www.tastingtable.com/img/gallery/what-makes-restaurant-burgers-taste-different-from-homemade-burgers-upgrade/l-intro-1662064407.jpg" alt="" height="10%" width="10%">
            </div>
            <div class="content1">
                <h1> Most Tasty Burger for you</h1>
                <p>Juicy,big,loaded with toppings of my choice 🍔🔥</p>
                <a href="/explore.html" class="btn">Explore Now</a>
            </div>
        </section>
        <section class="form-container">
            <form action="">
                <div class="inputBox">
                    <span>Where</span>
                    <input type="text" placeholder="Search Places">
                </div>
                <div class="inputBox">
                    <span>When</span>
                    <input type="date"> 
                </div>
                <div class="inputBox">
                    <span>Time</span>
                    <input type="time">
                </div>
                <input type="submit" value="Order Now" class="btn"> <a href="/ordernow.html"></a>
            </form>
        </section>
        <section class="packages" id="packages">
            <h1 class="heading">Our <span>Foods</span></h1>
            <div class="box-container">
    
    
                <div class="box">
                    <div class="image">
                        <img src="https://www.cookingclassy.com/wp-content/uploads/2023/08/hamburgers-20-500x500.jpg" alt="">
                        <h3> <i class="ri-restaurant-fill">Burger</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            290.99 <span>350.99</span>
                        </div>
                            <p>"Juicy chicken patty, fresh lettuce, creamy mayo, soft bun, and delicious flavors! 🍔🔥"</p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
                
                <div class="box">
                    <div class="image">
                        <img src="https://st2.depositphotos.com/5260901/7749/i/450/depositphotos_77490208-stock-photo-delicious-cheese-stringy-slice-lifted.jpg" alt="">
                        <h3> <i class="ri-restaurant-fill">Cheese Pizza</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            249.99 <span>350.99</span>
                        </div>
                            <p>"Cheesy, crispy, delicious pizza loaded with rich sauce and irresistible melted cheese! 🍕🔥"</p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
    
    
                <div class="box">
                    <div class="image">
                        <img src="https://j6e2i8c9.rocketcdn.me/wp-content/uploads/2020/09/Chicken-Biryani-Recipe-01-1.jpg" alt="">
                        <h3> <i class="ri-restaurant-fill">Chicken-Biryani</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            349.99 <span>499.99</span>
                        </div>
                            <p>"Fragrant rice, tender chicken, rich spices, and aromatic flavors for a perfect biryani! 🍛🔥"</p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
    
                <div class="box">
                    <div class="image">
                        <img src="https://images.immediate.co.uk/production/volatile/sites/30/2021/02/butter-chicken-ac2ff98.jpg" alt="">
                        <h3> <i class="ri-restaurant-fill">Butter Chicken</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            299.99 <span>549.99</span>
                        </div>
                            <p>"Creamy butter chicken with tender pieces, rich spices, and a flavorful tomato gravy! 🍛🔥"</p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
    
                <div class="box">
                    <div class="image">
                        <img src="https://www.funfoodfrolic.com/wp-content/uploads/2022/03/Matar-Paneer-Blog-500x375.jpg" alt="">
                        <h3> <i class="ri-restaurant-fill">Matar-Panner</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            290.99 <span>350.99</span>
                        </div>
                            <p>"Delicious paneer and green peas cooked in a rich, spiced, and creamy tomato-based gravy! 🍛🔥" </p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
                
    
            </div>
        </section>

    
        <section class="packages" id="packages">
            <h1 class="heading">Indian <span>Foods</span></h1>
            <div class="box-container">
    
    
                <div class="box">
                    <div class="image">
                        <img src="https://www.bitesbee.com/wp-content/uploads/2021/09/Dhokla.jpg" alt="">
                        <h3> <i class="ri-restaurant-fill">Dhokla</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            290.99 <span>350.99</span>
                        </div>
                            <p>"Juicy chicken patty, fresh lettuce, creamy mayo, soft bun, and delicious flavors! 🍔🔥"</p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
                
                <div class="box">
                    <div class="image">
                        <img src="https://en-media.thebetterindia.com/uploads/2022/08/294156779_1082267416022212_8006411537588067133_n-1_11zon-1660981126.jpg" alt="">
                        <h3> <i class="ri-restaurant-fill">Chhole bhature</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            249.99 <span>350.99</span>
                        </div>
                            <p>"Cheesy, crispy, delicious pizza loaded with rich sauce and irresistible melted cheese! 🍕🔥"</p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
    
    
                <div class="box">
                    <div class="image">
                        <img src="https://clubmahindra.gumlet.io/blog/images/Idli-resized.jpg?w=376&dpr=2.6" alt="">
                        <h3> <i class="ri-restaurant-fill">Idli </i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            349.99 <span>499.99</span>
                        </div>
                            <p>"Fragrant rice, tender chicken, rich spices, and aromatic flavors for a perfect biryani! 🍛🔥"</p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
    
                <div class="box">
                    <div class="image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfRgxPJxp2im6cO0LYdvqg7K6kSaujghMsOw&s" alt="">
                        <h3> <i class="ri-restaurant-fill">Litti chokha</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            299.99 <span>549.99</span>
                        </div>
                            <p>"Creamy butter chicken with tender pieces, rich spices, and a flavorful tomato gravy! 🍛🔥"</p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
    
                <div class="box">
                    <div class="image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQB8KEoxg9QQV8vkHcty_32E6nk6kWL79JUeg&s" alt="">
                        <h3> <i class="ri-restaurant-fill">creamy panner</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            290.99 <span>350.99</span>
                        </div>
                            <p>"Delicious paneer and green peas cooked in a rich, spiced, and creamy tomato-based gravy! 🍛🔥" </p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
                
    
            </div>
        </section>

        <section class="packages" id="packages">
            <h1 class="heading">chinese <span>Foods</span></h1>
            <div class="box-container">
    
    
                <div class="box">
                    <div class="image">
                        <img src="https://media.istockphoto.com/id/1393404893/photo/teriyaki-shrimp-with-ramen-noodles.jpg?s=612x612&w=0&k=20&c=9N3HN7RRUbG5NBVLwyI3fUHByXDQVI6G3aBDUBQB-R8=" alt="">
                        <h3> <i class="ri-restaurant-fill">Noodles</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            290.99 <span>350.99</span>
                        </div>
                            <p>"Juicy chicken patty, fresh lettuce, creamy mayo, soft bun, and delicious flavors! 🍔🔥"</p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
                
                <div class="box">
                    <div class="image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7C3SlX_C9i7yWrJBN0NXsfNBdQzIDVzs3FQ&s" alt="">
                        <h3> <i class="ri-restaurant-fill">Manchuriyan</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            249.99 <span>350.99</span>
                        </div>
                            <p>"Cheesy, crispy, delicious pizza loaded with rich sauce and irresistible melted cheese! 🍕🔥"</p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
    
    
                <div class="box">
                    <div class="image">
                        <img src="https://saltedmint.com/wp-content/uploads/2024/01/Vegetable-Spring-Rolls-4-500x375.jpg" alt="">
                        <h3> <i class="ri-restaurant-fill">Spring roll</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            349.99 <span>499.99</span>
                        </div>
                            <p>"Fragrant rice, tender chicken, rich spices, and aromatic flavors for a perfect biryani! 🍛🔥"</p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
    
                <div class="box">
                    <div class="image">
                        <img src="https://www.thespruceeats.com/thmb/UnVh_-znw7ikMUciZIx5sNqBtTU=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/steamed-momos-wontons-1957616-hero-01-1c59e22bad0347daa8f0dfe12894bc3c.jpg" alt="">
                        <h3> <i class="ri-restaurant-fill">Momos</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            299.99 <span>549.99</span>
                        </div>
                            <p>"Creamy butter chicken with tender pieces, rich spices, and a flavorful tomato gravy! 🍛🔥"</p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
    
                <div class="box">
                    <div class="image">
                        <img src="https://1.bp.blogspot.com/-FtlrI6vhMww/X2jDWCb9zUI/AAAAAAAAMPQ/TmUrBHkFo6Ui-uPBi4D6KHKhKwq6-zebQCLcBGAsYHQ/s16000/Kolkata%2Begg%2Broll.JPG" alt="">
                        <h3> <i class="ri-restaurant-fill">Egg roll</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            290.99 <span>350.99</span>
                        </div>
                            <p>"Delicious paneer and green peas cooked in a rich, spiced, and creamy tomato-based gravy! 🍛🔥" </p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
                
    
            </div>
        </section>

        <section class="packages" id="packages">
            <h1 class="heading">Italians <span>Foods</span></h1>
            <div class="box-container">
    
    
                <div class="box">
                    <div class="image">
                        <img src="https://myplate-prod.azureedge.us/sites/default/files/styles/large/public/2020-11/SkilletPastaDinner_527x323.jpg?itok=SxmNNwfM" alt="">
                        <h3> <i class="ri-restaurant-fill">Pasta</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            290.99 <span>350.99</span>
                        </div>
                            <p>"Juicy chicken patty, fresh lettuce, creamy mayo, soft bun, and delicious flavors! 🍔🔥"</p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
                
                <div class="box">
                    <div class="image">
                        <img src="https://miro.medium.com/v2/resize:fit:1400/0*oTfm1pTXLxitHHFy.jpg" alt="">
                        <h3> <i class="ri-restaurant-fill"> Pizza</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            249.99 <span>350.99</span>
                        </div>
                            <p>"Cheesy, crispy, delicious pizza loaded with rich sauce and irresistible melted cheese! 🍕🔥"</p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
    
    
                <div class="box">
                    <div class="image">
                        <img src="https://media.istockphoto.com/id/505168330/photo/cup-of-cafe-latte-with-coffee-beans-and-cinnamon-sticks.jpg?s=612x612&w=0&k=20&c=h7v8kAfWOpRapv6hrDwmmB54DqrGQWxlhP_mTeqTQPA=" alt="">
                        <h3> <i class="ri-restaurant-fill">Cappuccino</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            349.99 <span>499.99</span>
                        </div>
                            <p>"Fragrant rice, tender chicken, rich spices, and aromatic flavors for a perfect biryani! 🍛🔥"</p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
    
                <div class="box">
                    <div class="image">
                        <img src="https://static.toiimg.com/thumb/55369113.cms?width=1200&height=900" alt="">
                        <h3> <i class="ri-restaurant-fill">Lasagna</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            299.99 <span>549.99</span>
                        </div>
                            <p>"Creamy butter chicken with tender pieces, rich spices, and a flavorful tomato gravy! 🍛🔥"</p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
    
                <div class="box">
                    <div class="image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTi-_j6NBUA99nMy5vuiK3Rt4FZZtMIYGSFnA&s" alt="">
                        <h3> <i class="ri-restaurant-fill">Focaccia</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            290.99 <span>350.99</span>
                        </div>
                            <p>"Delicious paneer and green peas cooked in a rich, spiced, and creamy tomato-based gravy! 🍛🔥" </p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
                
    
            </div>
        </section>

        <section class="packages" id="packages">
            <h1 class="heading">Street <span>Foods</span></h1>
            <div class="box-container">
    
    
                <div class="box">
                    <div class="image">
                        <img src="https://bhojmasale.com/cdn/shop/articles/delicious-pav-bhaji-recipe-a-step-by-step-guide-930907_1024x1024.webp?v=1739152900" alt="">
                        <h3> <i class="ri-restaurant-fill">Pav bhaji</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            290.99 <span>350.99</span>
                        </div>
                            <p>"Juicy chicken patty, fresh lettuce, creamy mayo, soft bun, and delicious flavors! 🍔🔥"</p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
                
                <div class="box">
                    <div class="image">
                        <img src="https://www.cookwithmanali.com/wp-content/uploads/2022/03/Papdi-Chaat.jpg" alt="">
                        <h3> <i class="ri-restaurant-fill">Chaat</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            249.99 <span>350.99</span>
                        </div>
                            <p>"Cheesy, crispy, delicious pizza loaded with rich sauce and irresistible melted cheese! 🍕🔥"</p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
    
    
                <div class="box">
                    <div class="image">
                        <img src="https://i2.wp.com/wp-backend.thefearlesscooking.com/wp-content/uploads/2022/03/WhatsApp-Image-2022-03-10-at-4.45.10-PM.jpeg?fit=1536%2C1024&ssl=1" alt="">
                        <h3> <i class="ri-restaurant-fill">Pani puri</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            349.99 <span>499.99</span>
                        </div>
                            <p>"Fragrant rice, tender chicken, rich spices, and aromatic flavors for a perfect biryani! 🍛🔥"</p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
    
                <div class="box">
                    <div class="image">
                        <img src="https://1.bp.blogspot.com/-Z6u_mYItXog/Xs7VshhTJ_I/AAAAAAAAKEg/7Q8UXhA8IjALngAWLgfkRSyyIEybHay5QCLcBGAsYHQ/s1600/Bhel%2BPuri%2BRecipe%2B_M2.JPG" alt="">
                        <h3> <i class="ri-restaurant-fill">Bhelpuri</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            299.99 <span>549.99</span>
                        </div>
                            <p>"Creamy butter chicken with tender pieces, rich spices, and a flavorful tomato gravy! 🍛🔥"</p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
    
                <div class="box">
                    <div class="image">
                        <img src="https://www.vegrecipesofindia.com/wp-content/uploads/2018/03/raj-kachori-chaat-recipe-1.jpg" alt="">
                        <h3> <i class="ri-restaurant-fill">Kachori</i></h3>
                    </div>
                    <div class="container">
                        <div class="price">
                            290.99 <span>350.99</span>
                        </div>
                            <p>"Delicious paneer and green peas cooked in a rich, spiced, and creamy tomato-based gravy! 🍛🔥" </p>
                            <a href="/ordernow.html" class="btn">Order Now</a>
                        
                    </div>
                </div>
                
    
            </div>
        </section>
    <section class="pricing" id=""price>
        <h1 class="heading">Our<span>pricing</span></h1>
        <div class="box-container">
    
            
            <div class="box">
                <h3>Basic Plan</h3>
                <p>Starter Plan (999rs/-month)</p>
                
                <ul>
                    <li>Fast Food Combos</li>
                    <li> 1-Burger Meal Combo (149rs/-)</li>
                    <li>1 Burger + Fries + Soft Drink</li>
                    <li> 2-Pizza Party Combo (399rs/-)</li>
                    <li>1 Medium Pizza + 2 Drinks + Garlic Bread +fried chicken wings</li>
                    <li> 3-Fried Chicken Combo (249rs/-)</li>
                    <li>5 Chicken Wings + Fries + Dip</li>
                </ul>
                <a href="/subscription.html" class="btn">Choose Plan</a>
            </div> 
    
            <div class="box">
                <h3>Basic Plan</h3>
                <p>Healthy Meal Combos (1499rs/-month)</p>
                
                <ul>
                    <li> 1-Fitness Bowl Combo (149rs/-)</li>
                    <li>1 Salad Bowl + Fresh Juice</li>
                    <li> 2-Vegan Delight (499rs/-)</li>
                    <li>1 Vegan Wrap + Smoothie + Side Salad</li>
                    <li> 3-Protein Power Combo (699rs/-)</li>
                    <li>Grilled Chicken + Brown Rice + Steamed Veggies</li>
                    <li>10% discount on all meals</li>
                </ul>
                <a href="/subscription.html" class="btn">Choose Plan</a>
            </div> 
    
    
            <div class="box">
                <h3>Basic Plan</h3>
                <p>Family , Friends and Party Packs(1,999rs/-month) </p>
                <ul>
                    <li> 1-Friends Feast (99rs/-)</li>
                    <li>2 Large Pizzas + 1 Side + 4 Drinks</li>
                    <li> 2-Weekend Special (399rs/-)</li>
                    <li>1 Large Pizza + 1 Pasta + 1 Dessert + 4 Drinks</li>
                    <li> 3-BBQ Party Pack (999rs/-)</li>
                    <li>Grilled Chicken + 2 Sides + 6 Drinks</li>
                    <li>Free delivery on all orders</li>
                </ul>
                <a href="/subscription.html" class="btn">Choose Plan</a>
            </div> 
         
         
        </div>
    </section>
    <section class="contact" id=""contact>
        <h1 class="heading"><span>Contact</span>Us</h1>
    
        <form action="">
            <div class="inputBox">
                <input type="text" placeholder="name">
                <input type="email" placeholder="email">
            </div>
            <div class="inputBox">
                <input type="number" placeholder="Number">
                <input type="text" placeholder="Subject">
            </div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <input type="submit"  value="Send Message" class="btn">
        </form>
    </section>
    <section class="blogs" id="blogs">
        <h1 class="heading">Our<span>Blogs</span></h1>
    
        <div class="box-container">
    
    
            <div class="box">
                <div class="image">
                    <img src="https://fullofplants.com/wp-content/uploads/2020/05/sweet-and-sour-spicy-thai-fried-rice-easy-vegan-meal-with-vegetables-thumb-500x500.jpg" alt="">
                </div>
                <div class="content">
                    <h3>"The Secret to Perfect Fried Rice: Tips & Tricks"</h3>
                    <p>Chicken Fried Rice (1 cup) <br>
                        Calories: ~370 kcal<br>
                        Carbs: 47g<br>
                        Protein: 15g<br>
                        crabs:12-15g<br>
                        Fat: 12g<br>
                        sodium : 200-300 mg <br>
                    </p>
                    <a href="/blogs.html" class="btn">Read More</a>
                    <div class="icons">
                        <a href=""><i class="ri-calendar-todo-fill"></i> 15th feb,2025</a>
                        <a href=""><i class="ri-user-fill"></i> by admin</a>
                    </div>
                </div>
            </div>
    
            <div class="box">
                <div class="image">
                    <img src="https://www.eatthis.com/wp-content/uploads/sites/4//media/images/ext/966368714/kfc-original-chicken-recipe.jpg?quality=82&strip=1" alt="" height="50%" width="30%">
                </div>
                <div class="content">
                    <h3>"The Ultimate Guide to Perfectly Crispy Fried Chicken"</h3>
                    <p>
                        Chicken Fried Nutrition :<br>
                        Calories: 250-350 kcal <br>
                        Protein: 15-20g<br>
                        Carbs: 10-15g <br>
                        Fat: 15-25g <br>
                        Sodium: 500-800mg <br>
                    </p>
                    <a href="/blogs.html" class="btn">Read More</a>
                    <div class="icons">
                        <a href=""><i class="ri-calendar-todo-fill"></i> 15th feb,2025</a>
                        <a href=""><i class="ri-user-fill"></i>by admin</a>
                    </div>
                </div>
            </div>
    
    
            <div class="box">
                <div class="image">
                    <img src="https://www.flavorquotient.com/wp-content/uploads/2021/08/Fried-Chicken-FQ-2-1-of-1-copy.jpg" alt="" height="20%" width="20%">
                </div>
                <div class="content">
                    <h3>"Chicken Dishes Around the World: Global Flavors to Try" </h3>
                    <p>
                        Chicken Thigh : 209 kcal, 26g protein<br>
                        Chicken Wings : 203 kcal, 30g protein<br>
                        Fried Chicken : 250 kcal, 20-25g protein<br>

                    </p>
                    <a href="/blogs.html" class="btn">Read More</a>
                    <div class="icons">
                        <a href=""><i class="ri-calendar-todo-fill"></i>  15th feb,2025</a>
                        <a href=""><i class="ri-user-fill"></i>by admin</a>
                    </div>
                </div>
            </div>
    
    
    
            <div class="box">
                <div class="image">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3uBEApSDxXGWTIhjzQzTDZK_azsu3ONlJ_4apx6wRwg8QhPUNpajB-1ze8gyrZ0LIDdA&usqp=CAU" alt="" height="20%" width="20%">
                </div>
                <div class="content">
                    <h3>"The Secret to Perfectly Crispy Fried Fish" </h3>
                    <p>
                        Calories: 200-300 kcal (varies by batter and oil used)<br>
                        Protein: 15-25g <br>
                        Fat: 10-20g <br>
                        Carbohydrates: 8-15g (from breading/batter)<br>
                    </p>
                    <a href="/blogs.html" class="btn">Read More</a>
                    <div class="icons">
                        <a href=""><i class="ri-calendar-todo-fill"></i> 15th feb,2025</a>
                        <a href=""><i class="ri-user-fill"></i>by admin</a>
                    </div>
                </div>
            </div>
    
        </div>
    </section>
    <section class="footer">
        <div class="box-container">
    
            <div class="box">
                <h3>Our Branches</h3>
                <a href=""><i class="ri-map-pin-fill"></i> Mumbai</a>
                <a href=""><i class="ri-map-pin-fill"></i> Delhi</a>
                <a href=""><i class="ri-map-pin-fill"></i> Chennai</a>
                <a href=""><i class="ri-map-pin-fill"></i> Kolkata</a>
                <a href=""><i class="ri-map-pin-fill"></i> Lucknow</a>
            </div>
            
            <div class="box">
                <h3>Quick Links</h3>
                <a href=""><i class="ri-home-5-fill"></i> Home</a>
                <a href=""><i class="ri-inbox-unarchive-fill"></i> Packages</a>
                <a href=""><i class="ri-service-fill"></i> Services</a>
                <a href=""><i class="ri-price-tag-3-fill"></i> Prices</a>
                <a href=""><i class="ri-blogger-fill"></i> Blogs</a>
            </div>
    
            <div class="box">
                <h3>Contact Info</h3>
                <a href=""><i class="ri-contacts-fill"></i>  +91-9356360179</a>
                <a href=""><i class="ri-phone-fill"></i> +123-421-3234</a>
                <a href=""><i class="ri-mail-unread-fill"></i> sumitgupta9579@gmail.com</a>
                <a href=""><i class="ri-mail-unread-fill"></i> swiftserver999@gamil.com</a>
                <a href=""><i class="ri-map-pin-2-fill"></i> Mumabi , Raigad-410203</a>
            </div>
    
            <div class="box">
                <h3>Follow us</h3>
                <a href=""><i class="ri-facebook-circle-fill"></i> Facebook</a>
                <a href=""><i class="ri-twitter-fill"></i> Twitter</a>
                <a href=""><i class="ri-instagram-fill"></i> Instagram</a>
                <a href=""><i class="ri-linkedin-box-fill"></i> Linkedin</a>
                <a href=""><i class="ri-pinterest-fill"></i> Pinterest</a>
                <a href=""><i class="ri-whatsapp-fill"></i> Whatsapp</a>
                
            </div>
        </div>
    </section>
    
    </div>
        
    </div>
    <script>
        let navbar = document.querySelector('.navbar');

        document.querySelector('#menu-btn').onclick = () => {
            navbar.cLassList.toggle('active');
        }


        let searchForm = document.querySelector('.search-Form');

        document.querySelector('#search-btn').onclick = () => {
            searchForm.cLassList.toggle('active');
        }

    </script>
</body>
</html>